<html>
<head>
    <title>MyApplication - ViewData["Title"]</title>
</head>
<body>
    @Html.ActionLink("Home", "ChangesName", "Home") | @Html.ActionLink("Student List", "Index", "Student")
    <hr />
    <h1>Another Layout</h1>
    @RenderBody()
    <hr />
    @*@RenderSection("footer")*@
</body>
</html>
