@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script>
    alert('hello')
</script>
<p>Use this area to provide additional information.</p>
<h1>
    Added it fresh just now
</h1>
<ul>
    @for (int i = 0; i < 5; i++)
    {
        <li>@i</li>
    }

</ul>